.nav-list {

  &__item {
    margin: 24px 0 0 24px;

    @media (min-width: 767px) {
      margin: 32px 0 0 24px;
    }

    &:first-child {
      @media (min-width: 1120px) {
        margin: 10px 0 0 24px;
      }
    }

    &:hover a {
      color: $color-link--hover;
    }
    &--title {
      font-weight: bold;
      margin: 37px 0 24px 0;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: -0.6px;
      color: #1B1C21;

      @media (min-width: 1120px) {
        margin-top: -49px;
      }

      &::before {
        content: "";
        border-right: 4px solid $color-title-border;
        min-height: 40px;
        border-radius: 0 5px 5px 0;
        float: left;
        margin-top: -8px;
        margin-right: 12px;

        @media (min-width: 1120px) {
          margin-right: 28px;
        }

      }
    }
  }



  li {
    &:last-child {
      margin-bottom: 30px;
    }
  }

  &__item.active {
    position: relative;
  }
}
