.order-call {
  right: 0;
  z-index: 100;
  position: fixed;
  max-height: 100%;
  transition: right 0.5s;

  &__form {

  }

  &__input {
    margin: 0 0 16px 16px;
    padding: 12px;
    border: 1px solid #EAEAEA;
    border-radius: 8px;
    width: 288px;

    @media (min-width: 1120px) {
      margin: 0 0 16px 32px;
      width: 376px
    }

  }

  &__oferta {
    max-width: 100%;
    margin: 0 16px 16px 16px;
    p {
      font-weight: medium;
      margin: 0;
    }
    @media (min-width: 1120px) {
      margin: 0 32px 16px 32px;
    }
  }

  &__button {
    margin: 0 16px 0 0;
    text-align: end;

    @media (min-width: 1120px) {
      margin: 0 32px 0 0;
    }

    &--red {
      background-color: #FF3E79;
      color: $white;
      font-size: 12px;
      line-height: 24px;
      font-weight: bold;
      padding: 4px 15px;
      text-align: right;
      letter-spacing: -0.15px;
      text-transform: uppercase;
      border-radius: 16px;
      cursor: pointer;

      &::after {
        content: '';
        background-image: url(../img/button/button-arrow.svg);
        background-repeat: no-repeat;
        float: right;
        margin: 7px 0 0 10px;
        width: 10px;
        height: 10px;
		    line-height: 24px;
      }

      &--price {
        padding: 4px 10px;
        letter-spacing: 0;
      }
    }
  }
}
