.aside-container {
	max-width: 320px;
  min-width: 300px;
	margin: 0 auto;

  @media (min-width: 1120px) and (max-width: 1200px) {
    max-width: 280px;
    min-width: 250px;
  }

  &--call {
    max-width: 440px;
	  margin: 0 0;
  }
}
