.item-company {
  width: 240px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  margin: 0 32px 16px 0;
  margin-bottom: 16px;
  margin-right: 0;

  @media(max-width: 831px) {
    margin: 0 0 16px 0;
    width: 224px;
  }

  @media(max-width: 496px) {
    width: 240px;
    padding-left: 16px;
  }

  &__go {

    &--button {
      height: 40px;
      cursor: pointer;
    }
  }

  &__botton-location {
    align-self: flex-end;
    margin: 0 0 16px 0;
  }

  &--second {
    width: 240px;
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    margin: 0 32px 16px 0;
    margin-bottom: 16px;
    margin-right: 0;

    @media (min-width: 750px) and (max-width: 1119px) {
      width: 224px;
    }
  }

  &__title {
    align-self: flex-start;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;

    &--price {
      margin: 16px 0 0 0;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: #7E7E82;
      opacity: 0.72;

      @media (min-width: 499px) {
        display: none;
      }
    }

    &--text {

      &--tablet {

      }
    }
  }

  &--price {

    @media(min-width: 499px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: fit-content;
      padding: 16px 0;
    }

    &--info {
      @media (min-width: 499px) {
        margin: 0 0 0 0;
        flex: 1 1 35%;
      }
      @media (min-width: 650px) {
        flex: 1 1 50%;
      }
    }

    &--value {
      @media(min-width: 499px) {
        flex: 1 1 20%;
      }

      @media (min-width: 650px) {
        flex: 1 1 15%;
      }
    }

    &--duration {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      @media(min-width: 499px) {
        align-items: center;
        flex: 1 1 45%;
      }

      @media (min-width: 650px) {
        flex: 1 1 35%;
      }
    }
  }

  &__text {
    margin: 4px 0 0 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #1B1C21;

    @media (min-width: 498px) {
      margin-top: 0;
    }

    @media (min-width: 767px) {

    }
    &--block {
      display: inline-block;

      @media (min-width: 498px) {
        max-width: 80px;
      }

      @media (min-width: 650px) {
        min-width: 85px;
      }
      // @media (min-width: 499px) {
      //   padding-bottom: 7px;
      // }
    }
  }
}
