.header-row {
	background-color: $white;
	display: flex;
	justify-content: space-between;
	padding: 15px 16px 10px 16px;

  @media (min-width: 768px) {
    padding: 15px 24px 10px 24px;
  }

  @media (min-width: 1120px) {
    padding: 42px 24px 10px 24px;
    background-color: $color-main;
    display: inline-flex;
    justify-content: flex-end;
  }

}
