.header-column {
	display: flex;

  button {
    cursor: pointer;
  }

  &__item {
	border: none;
	background-color: inherit;

    &--burger {
      margin-right: 16.7px;

      @media (min-width: 550px) {
          margin-right: 0;
          &::after {
          content: "";
          float: right;
          min-height: 30px;
          border-right: 2px solid $color-separator;
          margin: 4px 20px 0 20px;
        }
      }

      @media (min-width: 1120px) {
        display: none;
        &::after {
          display: none;
        }
      }
    }

    &--logo {
      padding-top: 5px;

      @media (min-width: 1120px) {
          display: none;
      }
    }

    &--call {
      margin-right: 16px;

      @media (min-width: 0px) {
          display: none;
      }

      @media (min-width: 495px) {
          display: inline-block;
      }

      @media (min-width: 1120px) {
          display: none
      }
    }

    &--chat {
	    margin-right: 16px;

      @media (min-width: 0px) {
		    display: none;
      }

      @media (min-width: 495px) {
		    display: inline-block;
      }

      @media (min-width: 1120px) {
		    display: none
      }
    }

    &--profile {
      @media (min-width: 0px) {
      	display: none;
      }

      @media (min-width: 495px) {
      	display: inline-block;
      }

      @media (min-width: 1120px) {
      	display: none
      }
    }

    &--repair {
	    margin-right: 16px;

      @media (min-width: 1120px) {
		    margin-right: 32px;
      }

      &::before{
	      content: "";
	      float: left;
	      min-height: 30px;
	      border-left: 2px solid $color-separator;
	      margin: 5px 15px 0 4px;
	      cursor: auto;

        @media (min-width: 495px) {
        		margin: 5px 20px 0 20px;
        }

        @media (min-width: 1120px) {
        		display: none
        }
      }
    }

    &--repair-text {
	    display: none;

      @media (min-width: 1120px) {
      	display: block;
      	margin: 10px 8px 0 0;
      	float: left;
      	font-weight: 500;
      }
    }

    &--check-text {
	    display: none;

      &::after,
      &::before {
	      clear: both;
	      display: table;
	      height: 0px;
	      width: 100%
      }

      @media (min-width: 1120px) {
		    display: block;
		    margin: 10px 8px 0 0;
		    float: left;
		    font-weight: 500;
	    }
    }
  }
}
