.container-new {
  border-top: 1px solid $color-her-poimi-onkuda-vziavshisya-border;
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 32px;

  @media (max-width: 831px) {
    padding: 0 24px;
  }

  @media (max-width: 496px) {
    padding: 0 16px;
  }
}
