.container {
	min-width: 320px;
	margin: 0 auto;
	border-bottom: 1px solid $color-her-poimi-onkuda-vziavshisya-border;
	background-color: $color-main;

  @media (min-width: 768px) {
      min-width: 768px;
  }

  @media (min-width: 1120px) {
      max-width: 1120px;
      border: none;
      border-bottom: none;
  }

  &__price {
    padding: 16px;
    padding-top: 0;
    margin-bottom: 16px;
    border-bottom: 1px solid #f7f7f7;
    overflow-x: hidden;

    &:last-child {
      border: none;
    }

    @media(min-width: 498px) {
      padding: 0;
      margin-bottom: 0;
    }
    @media (min-width: 1120px) {
      padding: 0;
      margin-bottom: 0;
    }
  }
}
