.common-wrapper {

  transition: all 0.3s;

  @media (min-width: 1120px) {
    min-height: 100%;
    max-width: 1120px;
    float: left;
    // display: flex;
    // justify-content: center;
  }

  // @media (min-width: 1120px) {
  //   flex-wrap: wrap;
  // }

}
