$color-main: #f8f8f8;
$color-her-poimi-onkuda-vziavshisya-border: #D9FFF5;
$color-background-project: #f2f2f2;
$color-separator: #EAEAEA;
$color-title-border: #41F6D7;
$white: #fff;
$color-hover: #B8FFEC;
$color-link: #7E7E82;
$color-main-text: #1B1C21;
$color-shadow: #0E1850;
$color-link--hover: #c43f28;
$color-link--active: #7E7E82;
